.distribution-form__container {
  margin-left: auto;
}

.distributoion-form {
  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 12px;
  }
}

.distribution-form__field {
  position: relative;
  display: block;
  @media screen and (min-width: $desktop) {
    margin-right: 12px;
  }
}

.distribution-form__title {
  display: block;
  /*   margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color); */
}

.distribution-form__input,
.distribution-form__label {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
}

.distribution-form__input {
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    width: 358px;
  }
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  outline: transparent;
  transition: border var(--animation);
  /*   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/

  &:focus,
  &:not(:placeholder-shown) {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    opacity: 0;
    transition: opacity var(--animation);
  }

  &:focus::placeholder {
    opacity: 1;
  }
}

.distribution__btn {
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: var(--distribution-btn-shadow);
  overflow: hidden;
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    @include flex(center, center);
  }
}

.distribution__icon {
  margin-left: 10px;
  transition: transform var(--animation) 250ms;

  .distribution__btn:focus &,
  .distribution__btn:hover & {
    transform: translate(35px, -40px);
  }
}

.distribution-form__label {
  color: var(--grey-txt-color-60);
  position: absolute;
  top: 15px;
  left: 16px;
  display: block;
  transition: transform var(--animation);
  transform-origin: center;

  @media screen and (max-width: calc($tablet - 1px)) {
    transform: translate(0);
    .distribution-form__input:focus + &,
    .distribution-form__input:not(:placeholder-shown) + & {
      transform: translate(-25%, -175%);
      color: var(--white-color);
    }
  }

  @media screen and (min-width: $tablet) {
    transform: translate(150px);
    .distribution-form__input:focus + &,
    .distribution-form__input:not(:placeholder-shown) + & {
      transform: translateX(70px);
      color: var(--white-color);
    }

    @media screen and (min-width: $desktop) {
      transform: translateX(0);
      .distribution-form__input:focus + &,
      .distribution-form__input:not(:placeholder-shown) + & {
        transform: translateX(-150%);
        color: var(--white-color);
      }
    }
  }
}

.distribution-group {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
