.logo {
  display: block;
  color: var(--black-color);
  letter-spacing: 0.03em;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
  @include section(16px);
  @media screen and (min-width: $tablet) {
    @include section(26px);
  }
  @media screen and (min-width: $desktop) {
    @include section(24px);
  }
}
.logo--wrap {
  color: var(--accent-color);
}

.footer__logo {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}
.footer__logo--wrap {
  color: var(--white-color);
}
