.nav {
  margin-left: 88px;
  display: none;
  @media screen and (min-width: $tablet) {
    @include flex(null, center);
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
.nav__list {
  display: flex;
}

.header__list-item {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  position: relative;
}

.main-nav {
  display: block;
  position: relative;
  padding: 32px 0;
  transition: color var(--animation);

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    display: none;
    /*   transition: transform var(--animation)  */
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.main-nav--current.main-nav::after {
  display: block;
}
.main-nav--current {
  color: var(--accent-color);
}

.nav__contact-list {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    /*     gap: 30px; */
  }
}
.nav__list-item {
  display: flex;
  /*   min-width: 161px;
  min-height: 16px; */
  gap: 10px;
  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
  .nav__contact-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secondary-color-font);
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    /*   @include section(21px); */
    transition: color var(--animation);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }

    @media screen and (min-width: $desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.nav__mail {
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding-top: 15px;
  }
}
.nav__tel {
  @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    padding-bottom: 15px;
  }
}
