@import "../utils/mixins";
@import "../utils/breakpoints";
.page {
  color: var(--main-color-font);
  background-color: var(--white-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  @include font(28px, 700);

  @media screen and (min-width: $desktop) {
    @include font(36px, 700);
    margin-bottom: 50px;
  }
}
