@import "./decimals";

@mixin section($padding: 94px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin font($fs: 14px, $fw: 400, $lh: 1.17, $ls: 0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin card-set($indent) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $indent;
}

@mixin card-set-item($indent: var(--gap), $items: 3) {
  flex-basis: calc((100% - $indent * $items - 1) / $items);
}

@mixin section($padding: 94px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

/* @mixin transition {
}

@mixin list {
} */
