.clients {
  @include section(60px);

  @media screen and (min-width: $desktop) {
    @include section(94px);
  }
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.client__item {
  width: 170px;
  height: 92px;

  @include card-set-item(var(--gap), 2);

  @media screen and (min-width: $tablet) {
    @include card-set-item(var(--gap), 3);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-icon-color);
  border-radius: 4px;
  transition: border var(--animation);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client__icon {
  fill: var(--grey-icon-color);
  /*   @include flex(center, center); */
  height: 92px;
  transition: fill var(--animation);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
  }
}
