.clients {
  @include section;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.client__item {
  width: 170px;
  height: 92px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-icon-color);
  border-radius: 4px;
  transition: border var(--animation);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client__icon {
  fill: var(--grey-icon-color);
  transition: fill var(--animation);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
  }
}
