.projects {
  @include section(60px);
  @media screen and (min-width: $desktop) {
    @include section(94px);
  }
}

.projects__btn {
  padding: 6px 22px;
  background-color: var(--grey-background-color);
  color: var(--main-color-font);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    @include flex(center, center);
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

/* projects card-set */

.card-set {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
}

.project__card {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-bottom: 0px;
    flex-wrap: wrap;
    @include card-set-item(var(--gap), 2);
  }
  @media screen and (min-width: $desktop) {
    @include card-set-item(var(--gap), 3);
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--animation);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__content {
  flex-grow: 1;
  padding: 20px;
  border: 1px solid var(--projects-cards-color);
  border-top: 0;
  /*   max-width: 354px;
 */
}
.project__title {
  color: var(--main-color-font);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.project__type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-color-font);
  font-size: var(--secondary-font-size);
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

/* overlay */
.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-bg);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  transform: translateY(101%);
  transition: transform var(--animation);
  overflow-y: scroll;

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }

  @media screen and (min-width: $tablet) {
    align-items: center;
  }
}
.overlay__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-color);
  width: 100%;
  /*   width: 322px;
 */ /*   padding: 49px 24px; */
}
