.team-section {
  @include section(60px);
  background-color: var(--grey-background-color);

  @media screen and (min-width: $desktop) {
    @include section(94px);
  }
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
  }
}

.card {
  background-color: var(--white-color);
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  /*   width: 270px; */

  @media screen and (max-width: ($tablet - 1px)) {
    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }
  @media screen and (min-width: $tablet) {
    @include card-set-item(var(--gap), 2);
  }
  @media screen and (min-width: $desktop) {
    @include card-set-item(var(--gap), 4);

    @include card-set-item(30px, 4);
  }
}

.team__img {
  margin: 0 auto;
}

.card-content {
  padding: 30px 32px;
}

.team__member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
}

.team__job-position {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-color-font);
  font-size: var(--secondary-font-size);
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
